body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #534;
}

header {
  background-color: #99E8EA;
  height: 30px;
  width: 100%;
  opacity: .75;
  margin-bottom: 5px;
}

header h1.logo {
  text-align: center;
  margin: 15;
  font-size: 1.8em;
  color: #66929B;
  text-transform: camelcase;
}

header h1.logo:hover {
  color: #faf;
  text-decoration: none;
}

/*
 * Center the body content
 */

.container {
  width: 960px;
  margin: 0 auto;
}

div.jumbo {
  padding: 50px 0 120px 0;
  background-color: #aaeeff;
  -webkit-border-radius: 40px;
     -moz-border-radius: 40px;
          border-radius: 40px;
}

h2 {
  font-size: 1.4em;
  text-align: center;
  letter-spacing: 1px;
  color: navy
}

h3 {
  font-size: 1em;
  font-weight: 70;
  text-align: center;
  letter-spacing: -1px;
}

.menu {
  float: right;
  margin-top: 12px;
}

.menu li {
  display: inline;
}

.menu li + li {
  margin-left: 12px;
}

.menu li a {
  color: #069;
  text-decoration: none;
}

th {
	font: bold 11px "Trebuchet MS", Verdana, Arial, Helvetica,
	sans-serif;
	color: #6D929B;
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	border-top: 1px solid #C1DAD7;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: left;
	padding: 6px 6px 6px 12px;
	background: #CAE8EA url(images/bg_header.jpg) no-repeat;
}

tr{
    align: left;
    font: bold 11px "Trebuchet MS", Verdana, Arial, Helvetica,
    sans-serif;
    color: #6D929B;
    border-right: 1px solid #C1DAD7;
    border-bottom: 1px solid #C1DAD7;
    border-top: 1px solid #C1DAD7;
    letter-spacing: 2px;
    text-transform: camelcase;

    padding: 6px 6px 6px 12px;
    background: #99CCEA url(images/bg_header.jpg) no-repeat;
}

td{
margin-left: 10px;
text-align: center;
color: navy;
font-size: 1.0em;
margin: 10;
}

button{
float: right;

}

input{
float: right;
}

img {
  max-width:50%;
  height:auto;
  position: relative;
  left: 30px;
  top: 420px
}
