body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #534;
}

header {
  background-color: #223f3C;
  height: 30px;
  width: 100%;
  opacity: .75;
  margin-bottom: 5px;
}

header h1.logo {
  text-align: center;
  margin: 15;
  font-size: 1.8em;
  color: #ffb;
  text-transform: camelcase;
}

header h1.logo:hover {
  color: #faf;
  text-decoration: none;
}

/*
 * Center the body content
 */

.container {
  width: 940px;
  margin: 0 auto;
}

div.jumbo {
  padding: 2px 0 0px 0;
  background-color: #eeeeff;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}

h2 {
  font-size: 1.6em;
  text-align: left;
  letter-spacing: 1px;
}

h3 {
  font-size: 1em;
  font-weight: 70;
  text-align: center;
  letter-spacing: -1px;
}

.menu {
  float: right;
  margin-top: 12px;
}

.menu li {
  display: inline;
}

.menu li + li {
  margin-left: 12px;
}

.menu li a {
  color: #069;
  text-decoration: none;
}

tr{
  align: center;
}

td{
margin-left: 10px;
text-align: center;
color: blue;
font-size: 1.0em;
margin: 10;
}

button{
float: right;

}

input{
float: right;
}
