{% extends "layout.html" %}
{% block content %}
<div class="jumbo">
    <h2> Welcome to Embedded Test Executive</h2>
    <h3> Station Name {{name}} </h3>

<hr>
<table style="width:100%">
  <tr>
    <th>Test</th>
    <th>Step Run</th>
     <th> Elapsed time</th>
  </tr>
  <tr>
      {% for n in range(30) %}
      <tr>
         <td>{{steps[n]}}</td>
         <td>{{status[n]}}</td>
         <td>{{elapse[n]}}</td>
      </tr>
      {% endfor %}

  </tr>

</table>

    <form method="post" action="{{url_for('home')}}">
        <input type="submit" name="start" value="start test">
    </form>

</div>
{% endblock %}