{% extends "layout.html" %}
{% block content %}
<div class="jumbo">
    <h2> Welcome to Embedded Test Executive</h2>
    <h3> Station Name {{name|reverse|lower}} </h3>

<hr>
<table style="width:100%">
  <tr>
    <th>Test</th>
    <th>Step Run</th>
     <th> Elapsed time</th>
  </tr>
  <tr>
      <!-- macro is sort of a function or method -->
      <!-- it can be imported and place in a diff file -->
      {% macro testlist(n) %}
         <td>{{steps[n]}}</td>
         <td>{{status[n]}}</td>
         <td>{{elapse[n]}}</td>
      {% endmacro %}

      {% for n in range(30) %}
      <tr>
         {{ testlist(n)}}
      </tr>
      {% endfor %}

  </tr>

</table>

    <p>
     <form method="post" action="{{url_for('home')}}">
        <button class="button big-btn" type="submit" name="start" value="start test">Start test</button>
    </form>
  </p>

</div>
{% endblock %}